* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
    color:  #222222;
    background-color: #eee;
    padding: 10px;
    border-radius: 2px;
}

.join-container {
    background-color: #222222;
    color: #eee;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 35px;
    border-radius: 2px;
}

.join-header {
    text-align: center;
}

.join-main {
    font-size: 1.3rem;
}

.form-control label {
    display: block;
    margin-bottom: 3px;
}

.form-control input, .form-control select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 2px;
}

.join-main button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
    display: block;
    font-size: 1.3rem;
    padding: 2px;
    background-color: #eee;
    border-style: none;
    border-radius: 2px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background-color: #222222;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
    justify-content: space-between;
    height: 100px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: #222222;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: 400px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #222222;
	color: #eee;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #eee;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #fff;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: #222222;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

@media (max-width: 700px) {
	body {
		padding: 0;
		margin: 0;
	}

	.join-container {
		width: 100%;
	}

	.chat-container {
		height: 100%;
		margin: 0;
	}

	.chat-main {
		display: block;
	}

	.chat-messages {
		margin-top: 100px;
		height: 100%;
		margin-bottom: 50px;
	}

	.chat-sidebar {
		display: none;
	}

	.chat-header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.chat-form-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}